{% block content %}
{% if user.is_authenticated %}
<p class="display-4">Hello, {{ user.username }}</p>

{% else %}
<a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">
    Login
</a>
{% endif %}
{% endblock content %}